<footer>
    <div>
        <div>
            <div class="foot-itens">
                <div class="foot-itens-esq">
                    <h4>MAPA DO SITE</h4>
                    <a asp-controller="Tarefa" asp-action="Index">Home</a><br>
                    <a asp-controller="Tarefa" asp-action="Login">Login</a><br><br />
                    <h4>Tarefa</h4>
                    <p>- Listar</p>
                    <p>- Criar</p>
                    <p>- Editar</p>
                    <p>- Excluir</p>

                </div>
                <div>
                    <img src="~/img/logo_lt.png" alt="Logotipo LT" width="80px" height="70px">
                </div>

            </div>

            <div>
                <small>&copy; 2025 Lista de Tarefas . All rights reserved </small>
                <small>. Desenvolvido por <a href="https://wa.me/28999452754">Sol Morcillo</a></small>
            </div>
        </div>
</footer>