<nav class="topbar">
    <div class="topbar-content">
        <abbr title="28 99945-2754">
            <a href="https://wa.me/28999452754" target="_blank"><img src="~/img/logo_whatsapp.png" class="zap"></a>
        </abbr>
    </div>
    <button onclick="entrar()" class="button-top ">ENTRAR</button>
</nav>