@model listaTarefas.Models.Tarefa
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/menu.js" asp-append-version="true"></script>


</head>
<body>
    @await Html.PartialAsync("_NavSair")
    @await Html.PartialAsync("_Header")
    @await Html.PartialAsync("_Navbar")

        <h2>Editar Tarefa</h2>

        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
    <label>Escolher tarefa para editar</label>
    <select id="tarefaSelect" asp-items="ViewBag.Tarefas" class="form-control">
        <option value="">-- Selecione --</option>
    </select>
</div>


            <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" type="date" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
            </div>

            <div class="form-group">
    <label asp-for="DataFinalizacao" class="control-label"></label>
    <input asp-for="DataFinalizacao" class="form-control" type="date" />
</div>
           

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"
                    asp-items="Html.GetEnumSelectList<listaTarefas.Models.StatusTarefa>()"></select>
            </div><br>
<div class="object-inline">
<br><br>
            <button type="submit" class="button-project">Salvar Alterações</button>
             <button type="reset" class="button-project">Limpar</button>
            <br><br>
        </form>
        
        </div>
        <br>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }

        @await Html.PartialAsync("_Footer")

        <script>
    document.getElementById("tarefaSelect").addEventListener("change", function () {
        const id = this.value;
        if (id) {
            window.location.href = "/Tarefa/Edit/" + id;
        }
    });
</script>


    </body>

</html>